<mat-toolbar color="primary">
  <h3>Gnosis "Days since last died" Counter</h3>
</mat-toolbar>
<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <strong>Days since Gnosis died</strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="footer">
      <h1 class="day-counter">{{this.counter}}</h1>
      <img class="emoji-img" src={{imgPath}}>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" (click)="reset()" mat-raised-button>Reset</button>
      <button (click)="copyUrl()" class="right-aligned" mat-mini-fab color="accent">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <ng-template #diag>
    <h1 mat-dialog-title>Confirmation</h1>
    <div mat-dialog-content>
      <p>What's the secret code?</p>
      <mat-form-field>
        <mat-label>Secret Code</mat-label>
        <input matInput [(ngModel)]="secret" placeholder="Enter the Secret code">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [mat-dialog-close]="secret" cdkFocusInitial>Submit</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
  </ng-template>
  <ng-template #unsuccessSB>
    <span>The secret code you enetered was a no-go...I guess you can try again 😞</span>
  </ng-template>
</div>
